# Overall
* @dgaliffiAMD @sohaibnd @taylding-amd @lucbruni-amd @adityas-amd @darren-amd @tcgu-amd @huanrwan-amd @schung-amd @zichguan-amd @benrichard-amd

# HIP Examples
HIP-Basics/* @rakesroy

# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation

